@charset "utf-8";
/* CSS Document */
.container{
	width:1200px;
	padding-right:0px;
	padding-left:0px;
	}
.login-header{
	height:80px;
	}
.login-header p{
	font-size:30px;
	margin-bottom:0px;
	line-height:80px;
	font-weight:bold;
	padding-left:25px;
	}
.login-banner{
	background:#0f67c1;
	height:520px;
	}
.login-banner img{
	margin-top:60px;
	}
.login-form{
	width:360px;
	height:400px;
	background:#5090d0;
	margin-top:80px;
	border-radius: 20px;
	padding-top:30px;
	padding-left:20px;
	margin-left: 50px;
	}
.p-icon{
	width:80px;
	height:80px;
	background:#fff;
	margin:0px 120px;
	border-radius: 40px;
	text-align:center;
	}
.p-icon	.glyphicon{
	color:#0a6dc2;
	font-size:40px;
	line-height: 74px;
	}
.login-form label{
	color:#fff;
	font-size: 16px;
	font-weight: normal;
	}
.login-form input{
    width: 260px;
    height: 40px;
	padding:10px;
}
.form-group2 input{
	margin-left: 2px;
	}
.login-form .form-group {
    margin-bottom: 20px;
}
.login-form .form-group1 {
    margin-top: 30px;
}
.login-form .btn{
	width:260px;
	height:40px;
	background:#f77833;
	color:#fff;
	font-size: 16px;
	margin-left: 52px;
    margin-top: 15px;
	}
.login-form .btn:hover,focus{
	color:#fff;
	}
.form-a{
	margin-right: 29px;
    text-align: right;
	}
.forget-password{
	font-size:16px;
	color:#fff;
	}
.reg{
	font-size:16px;
	color:#fff;
	}

@media(max-width:1200px){
	.container{
		width:970px;
		}

	}
	
@media(max-width:992px){
	.container{
		width:768px;
		}

	}
	
@media(max-width:768px){
	.container{
		width:100%;
		}
.login-header p {
    font-size: 25px;
}
.login-form {
    width: 320px;
    height: 375px;
    margin-top: 60px;
    padding-top: 30px;
    margin-left:0px;
}
.p-icon {
    margin: 0px 100px;
}
.login-form input {
    width: 220px;
    height: 35px;
    padding: 7px;
}
.login-form .btn {
    width: 220px;
    height: 35px;
    margin-top: 15px;
}
	}